@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
}

/* Variables */

:root {
  --basic-color: #FFFFFF;
  --basic-color-active: rgba(255, 255, 255, 0.3);
  --basic-dark-hover: rgba(68, 68, 68, 0.5);
  --basic-black: #000000;
  --basic-dark: #666666;
  --basic-extra-dark: #283136;
  --basic-gray-dark: #444444;
  --basic-black-active: rgba(0, 0, 0, 0.3);
  --gray-light: #B4B9BB;
  --basic-gray: #EEEEEE;
  --basic-gray-light:#D7DCDE;
  --gray-hover: #DFDFDF;
  --gray-activ: #D5D5D5;
  --basic-red: #FB565A;
  --button-basic-green: #00CA74;
  --button-basic-yellow: #EFC849;
  --red-hover: #E74246;
  --red-activ: #D7373B;
  --button-app-hover: #00BC6C;
  --button-app-activ: #00AA62;
  --button-presentation-hover: #EAB534;
  --button-presentation-activ: #E5A722;
}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-color);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  background-color: var(--basic-gray);
  font-size: 55px;
  line-height: 55px;
}

.main-header {
  background-color: var(--basic-gray);
}

/* Site navigation */

.page-navigation {
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.page-navigation-wrapper {
  background-color: var(--basic-gray);
}

.site-navigation {
  list-style: none;
}

.site-navigation a:hover {
  color: var(--basic-red);
}

.site-navigation a:active {
  color: var(--basic-black-active);
}

/* User navigation */

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.user-navigation a:hover {
  color: var(--basic-red);
}

.user-navigation a:active {
  color: var(--basic-black-active);
}

/* Features */

.features {
  background-color: var(--basic-gray);
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: left;
}

.feature-item h3 {
  text-transform: none;
  font-size: 55px;
  line-height: 55px;
}

.feature-item p {
text-transform: none;
font-size: 16px;
line-height: 24px;
font-weight: 400;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-color);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--red-hover);
}

.button:active {
  background-color: var(--red-activ);
  color: var(--basic-color-active);
}

.button-green {
  background-color: var(--button-basic-green);
}

.button-green:hover {
  background-color: var(--button-app-hover);
}

.button-green:active {
  background-color: var(--button-app-activ);
  color: var(--basic-color-active);
}

.button-yellow {
  background-color: var(--button-basic-yellow);
}

.button-yellow:hover {
  background-color: var(--button-presentation-hover);
}

.button-yellow:active {
  background-color: var(--button-presentation-activ);
  color: var(--basic-color-active);
}

/* Services */

.services-list {
  list-style: none;
}

.services-content {
  background-color: var(--gray-hover);
}

.services-item p {
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  }

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  }

  /* Company */

.company p {
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.company .company-info {
  text-transform: none;
  font-size: 45px;
  line-height: 45px;
}

.company-list {
  list-style: none;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.company h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

/* Statistics */

.statistics h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.statistics dt {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.statistics sup {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.statistics dd {
  text-transform: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

/* Clients */

.clients-list {
  list-style: none;
}

/* Footer */

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: none;
  color: var(--basic-dark);
}

.contacts-phone {
  color: var(--basic-dark);
}

.footer-social {
  text-align: left;
}

.social-list {
  list-style: none;
}

.social-button {
  color: inherit;
}

.promo {
  text-align: center;
}

.promo-header {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.promo-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

/* Popup */

.appointment h2 {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  text-transform: none;
}

.appointment-item label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: none;
}

.appointment-item input {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid var(--basic-gray-light);
}

.appointment-item input:hover {
  border: 2px solid var(--gray-light);
  color: var(--basic-dark-hover);
}

.appointment-item input:focus {
  border: 2px solid var(--basic-black);
  color: var(--basic-gray-dark);
}

/* Filters */

.filter-group {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
  text-transform: none;
  color: var(--basic-extra-dark);
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
}

/* Sort */

.sort-list{
  list-style: none;
}

.sort-item a {
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
  color: var(--basic-black);
}

/* Templates */

.template-list{
  list-style: none;
}

.template-item h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.template-item-title {
  color: var(--basic-black);
}

.info-site {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-dark);
  text-transform: none;
}

.template-item-description {
  background-color: var(--basic-gray);
  text-align: center;
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--basic-black);
  background-color: var(--basic-gray);
}
