@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
}

/* Variables */

:root {
  --basic-color: #FFFFFF;
  --basic-color-active: rgba(255, 255, 255, 0.3);
  --basic-dark-hover: rgba(68, 68, 68, 0.5);
  --basic-black: #000000;
  --basic-dark: #666666;
  --basic-extra-dark: #283136;
  --basic-gray-dark: #444444;
  --basic-black-active: rgba(0, 0, 0, 0.3);
  --basic-black-sort: rgba(0, 0, 0, 0.6);
  --black-light: rgba(0, 0, 0, 0.0001);
  --basic-filter: #4D4D4D;
  --filter-extra-light: rgba(77, 77, 77, 0.1);
  --filter-light: rgba(77, 77, 77, 0.4);
  --basic-filter-disabled: rgba(40, 49, 54, 0.3);
  --pagination-light: #DBDBDB;
  --gray-light: #B4B9BB;
  --basic-gray: #EEEEEE;
  --basic-gray-light:#D7DCDE;
  --gray-hover: #DFDFDF;
  --gray-activ: #D5D5D5;
  --basic-red: #FB565A;
  --button-basic-green: #00CA74;
  --button-basic-yellow: #EFC849;
  --red-hover: #E74246;
  --red-activ: #D7373B;
  --button-app-hover: #00BC6C;
  --button-app-activ: #00AA62;
  --button-presentation-hover: #EAB534;
  --button-presentation-activ: #E5A722;
}

.page-body {
  min-width: 1240px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-color);
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

/* Main-header */

h1 {
  max-width: 1200px;
  background-color: var(--basic-gray);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  padding-top: 78px;
  padding-bottom: 85px;
  margin-top: 0;
}

.main-header {
  text-transform: none;
  text-align: center;
  margin-bottom: 78px;
  background-color: var(--basic-gray);
}

/* Page-header */

.page-header {
  background-color: var(--basic-gray);
  margin: 0;
}

/* Container */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

/* Logo */

.page-header-bar {
  background-color: var(--basic-gray);
}

.page-header-logo {
  justify-self: left;
}

/* Site navigation */

.page-navigation {
  display: grid;
}

.page-navigation-wrapper {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  width: 1160px;
  margin: 0 auto;
  padding-top: 49px;
  gap: 25px;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.site-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  padding-right: 45px;
}

.site-navigation a:hover {
  color: var(--basic-red);
}

.site-navigation a:active {
  color: var(--basic-black-active);
}

/* User navigation */

.user-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.user-navigation a:hover {
  color: var(--basic-red);
}

.user-navigation a:active {
  color: var(--basic-black-active);
}

/* Features */

.main-features {
  background-color: var(--basic-gray);
}

.features {
  background-color: var(--basic-gray);
  margin-bottom: 80px;
}

.features-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0;
  list-style: none;
}

.feature-item {
  text-align: left;
}

.feature-item h3 {
  text-transform: none;
  font-size: 55px;
  line-height: 55px;
}

.feature-item p {
text-transform: none;
font-size: 16px;
line-height: 24px;
font-weight: 400;
}

/* Button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-color);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--red-hover);
}

.button:active {
  background-color: var(--red-activ);
  color: var(--basic-color-active);
}

.button-green {
  background-color: var(--button-basic-green);
}

.button-green:hover {
  background-color: var(--button-app-hover);
}

.button-green:active {
  background-color: var(--button-app-activ);
  color: var(--basic-color-active);
}

.button-yellow {
  background-color: var(--button-basic-yellow);
}

.button-yellow:hover {
  background-color: var(--button-presentation-hover);
}

.button-yellow:active {
  background-color: var(--button-presentation-activ);
  color: var(--basic-color-active);
}

.filter-button {
  line-height: 18px;
  background-color: var(--basic-gray);
}

.filter-button:hover {
  line-height: 18px;
  background-color: var(--gray-hover);
}

.filter-button:hover {
  line-height: 18px;
  background-color: var(--gray-activ);
  color: var(--basic-black-active);
}

/* Services */

.services {
  margin-bottom: 121px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 25px;
}

.services-item p {
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 32px;
}

  /* index-column */

  .index-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 100px;
    margin: 0;
    padding: 0;
    margin-bottom: 73px;
  }

  /* Company */

.company {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0;
  padding: 0;
  }

.company .company-info {
  text-transform: none;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  margin-top: 34px;
  margin-bottom: 32px;
}

.company .company-text {
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 40px;
}

.company h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}

.company-list {
  list-style: none;
  text-transform: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.company-item {
  margin-top: 24px;
}

/* Statistics */

.statistics h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 37px;
  margin-bottom: 31px;
}

.statistics dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
  margin: 0;
  padding: 0;
}

.statistics dd {
  grid-row: 1 / 2;
  margin: 0;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.statistics sup {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.statistics dt {
  text-transform: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

/* Clients */

.clients {
  margin-bottom: 80px;
}

.clients-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.clients-item {
  text-align: center;
}

.clients-item img {
  opacity: 0.2;
}

.clients-item img:hover {
  opacity: 1.0;
}

.clients-item img:active {
  opacity: 0.1;
}

/* Footer */

.contacts {
  padding: 50px;
}

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.contacts p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: none;
  color: var(--basic-dark);
}

.contacts-address {
  margin-bottom: 18px;
}

.contacts-phone {
  color: var(--basic-dark);
}

.contacts-phones {
  margin-bottom: 37px;
}

.footer-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  margin-top: 68px;
}

.footer-social {
  text-align: left;
}

.social-list {
  display: flex;
  list-style: none;
}

.social-item {
  padding-right: 9px;
}

.social-button {
  color: inherit;
}

.promo {
  grid-column-start: 2;
  grid-column-end: -1;
}

.promo-header {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: none;
  padding: 0;
  margin: 0;
}

.promo-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: none;
}

/* Popup */

.appointment h2 {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  text-transform: none;
}

.appointment-item label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: none;
}

.appointment-item input {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid var(--basic-gray-light);
}

.appointment-item input:hover {
  border: 2px solid var(--gray-light);
  color: var(--basic-dark-hover);
}

.appointment-item input:focus {
  border: 2px solid var(--basic-black);
  color: var(--basic-gray-dark);
}

/* Grid */

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  align-content: start;
}

/* Filters */

.filters {
  grid-row: 1 / 3;
  padding: 0;
  margin: 0;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 43px;
  border: none;
}

.filter-group {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.filter legend {
  margin-bottom: 13px;
}

.filter ul {
  list-style: none;
  text-transform: none;
  color: var(--basic-extra-dark);
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.filter-input:hover + label {
  color: var(--basic-extra-dark);
}

.filter-input:disabled + label {
  color: var(--basic-filter-disabled);
}

/* Sort */

.sort {
  display: flex;
  flex-basis: 760px;
  align-content: flex-start;
  grid-column: 2 / -1;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
}

.heart-sort {
  flex-grow: 1;
}

.sort-list{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sort-item a {
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
  color: var(--basic-black-active);
}

.sort-item a:hover {
  color: var(--basic-black-sort);
}

.sort-item a:active {
  color: var(--basic-black);
}

/* Templates */

.templates {
  grid-column: 2 / 3;
  padding: 0;
  margin: 0;
}

.template-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.template-item {
  width: 358px;
  min-height: 618px;
}

.template-item h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.template-item-title {
  color: var(--basic-black);
}

.template-item-title:hover {
  color: var(--basic-red);
}

.template-item-title:active {
  color: var(--basic-black-active);
}

.catalog-item-image {
  width: 358px;
  height: 578px;
  margin: 0;
}

.info-site {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-dark);
  text-transform: none;
  padding: 0;
  margin: 0;
}

.template-item-description {
  background-color: var(--basic-gray);
  text-align: center;
  width: 358px;
  padding: 0;
  margin: 0;
}

.template-button {
  margin-top: 32px;
  margin-bottom: 44px;
}

/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: var(--basic-black);
  background-color: var(--basic-gray);
  border-radius: 3px;
}

.pagination-item a:hover {
  color: var(--basic-black);
  background-color: var(--gray-hover);
  border-radius: 3px;
}

.pagination-item a:hover {
  color: var(--basic-black-active);
  background-color: var(--gray-activ);
  border-radius: 3px;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: var(--black-light);
  border: 3px solid var(--pagination-light);
  border-radius: 3px;
}
